/* ejemplo1.css   CO20002  */
fichero {
    background-color:blue;
}
ficha {
    background-color:red;
    display:block;
} 
nombre {
    color:white;
    display:inline;
}
apellido {
    color:yellow;
    display:inline;
}

direccion {
    color:yellow;
    font-size:1em; 
    display:none;
}